body, input {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.8rem;
  font-weight: normal;
  background: #f3f3ea;
  color: #111;
  overflow-x: hidden;
}

body::before {
  pointer-events: none;
  content: ' ';
  position: absolute;
  display: block;
  width: 1800px;
  height: 1800px;
  top: 0;
  right: 0;
  opacity: 0.15;
  background: url(/assets/images/spirograph.svg) no-repeat;
  background-size: 100% 100%;
  background-position: 800px -1100px;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

.row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

.section {
  border-top: 1px solid #d9dacc;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.has-title {
  padding-top: 4.5rem;
}

.section-title {
  position: absolute;
  top: -4.5rem;
  left: 2rem;
  margin: 0 0 2rem;
  padding: .75rem 1rem;
  border: 1px solid #d9dacc;
  border-top: 0;
}

.highlight {
  background: #fff;
  position: relative;
}

.highlight::before {
  content: ' ';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/assets/lines.svg);
  opacity: .6;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.header {
  min-width: 468px;
  padding: 1.5rem 0;
  color: #111;
  justify-content: space-between;
  z-index: 2;
}

.header h1 {
  display: block;
  margin: auto 0;
}

.header h1 a {
  margin: 0 0 -12px;
  display: block;
  color: #111;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
  height: 46px;
  background: url(/assets/images/logo2.png) no-repeat top left;
}

.header nav {
  font-weight: bold;
  margin: auto;
  margin-right: 0;
  flex-flow: row;
  flex-grow: 1;
  max-width: 550px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.header nav a {
  margin: auto 0;
  font-size: 15px;
  padding: .4rem 1rem;
  color: #44443e;
  transition: opacity .2s ease-in;
}

.header nav a:hover {
  opacity: 1;
}

.hero {
  border: none;
  padding-top: 1.5rem;
}

.signup {
  display: flex;
}

.signup input {
  font-size: 20px;
  padding: .8rem;
  border: 1px solid #ccc;
}

.signup button {
  background: rgba(0,0,0,0.5);
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0 1rem;
}

#email {
  flex-grow: 1;
  margin-right: 10px;
}

.hook h2 {
  font-size: 2.6rem;
  margin: 0 0 1rem 0 ;
  font-weight: normal;
}

.hook p {
  font-size: 1.4rem;
  line-height: 1.7em;
  margin-bottom: 1rem;
  color: #111;
}

.hook p.first {
  font-size: 1.6rem;
}

.unemphasize {
  opacity: 0.75;
}

.hero-second, .hero-first {
  position: relative;
  padding: 0;
  z-index: 3;
}

.hero .features {
  margin: 3rem 0 -1rem;
}

.screens {
  flex-flow: row;
  flex-wrap: nowrap;
}

.screen {
  width: 377px;
  height: 667px;
  margin: -120px -300px -300px 20px;
  transform: scale(0.75) perspective(50em) rotateX(10deg) rotateY(20deg) rotateZ(-10deg);
  box-shadow: 0 0 60px rgba(0,0,0,0.2);
}

.screen:nth-child(2) {
  margin-bottom: -320px;
}

.screen:nth-child(3) {
  margin-bottom: -340px;
}

.info {
  display: none;
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 5px 6px;
  border-radius: 2px;
  position: absolute;
  font-size: .7rem;
  line-height: .7rem;
  transform: translateZ(0);
  z-index: 100;
}

.info-one {
  top: 100px;
  right: 200px;
}

.info-two {
  top: 160px;
  right: 150px;
}

.info-three {
  top: 200px;
  right: 50px;
}

.hero h2 {
  color: #111;
}

.hero-headline {
  font-weight: bold;
  font-size: 3rem;
}

blockquote {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  opacity: 0.8;
  font-style: italic;
  padding: 3rem;
  margin: 0;
}

blockquote::before {
  content: '“ ';
}

blockquote::after {
  content: '”';
  display: block;
  text-align: right;
}

blockquote::before,
blockquote::after {
  font-size: 4rem;
  opacity: 0.3;
  padding: 1rem;
  line-height: 0.5rem;
}

blockquote footer {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  display: block;
  padding: 0 3rem 0 0;
  margin: 0 0 -4rem 0;
}

.install {
  background: rgba(0,0,0,0.02);
  font-weight: bold;
  text-align: center;
}

.install p {
  font-size: 1.8rem;
  line-height: 2.75rem;
  margin: -1.5rem 0;
  color: #9d213b;
}

.install span {
  color: #666;
  display: block;
  font-weight: normal;
  opacity: 0.8;
  font-size: 1.6rem;
}

.body {
  color: #111;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 2;
}

.body .row {
  margin: 0 0 2rem 0;
}

.body div {
  position: relative;
  z-index: 2;
}

.demo-row {
  flex-wrap: nowrap;
  display: flex;
}

.demo, .demo-description {
  display: flex;
}

.demo {
  width: 360px;
  flex-shrink: 0;
}

.demo-description {
  flex-grow: 1;
  text-align: left;
}

.demo-description .row div {
  padding: 0 1rem;
}

.screenshot {
  display: block;
  max-width: 360px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

code {
  margin: 1em 0;
  font-size: 14px;
  display: block;
  background: #111;
}

.features h3 {
  text-align: center;
  margin-top: 0;
}

.feature {
  padding: 0 2rem;
}

.pad {
  padding: 0 2rem;
}

.emphasize p {
  font-size: 120%;
  line-height: 2rem;
}

.footer {
  background: #111;
  color: #fff;
  text-align: center;
}

.footer .row {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer nav a {
  display: block;
}

.footer span {
  font-size: 80%;
  opacity: 0.5;
}

#made-with h4 {
  text-align: center;
  opacity: 0.9;
  margin: 1rem 0 0;
}

#made-with img {
  max-width: 150px;
  max-height: 150px;
  margin: auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#made-with:hover img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

#made-with li {
  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.4rem;
}