<ul>
  <li>
    <a href="#installation">Installation</a>
  </li>
  <li>
    <a href="#dev-environment">Dev Environment</a>
  </li>
  <li>
    <a href="#cli">CLI</a>
  </li>
  <li>
    <a href="#platform">Platform</a>
  </li>
  <li>
    <a href="#routes">Routes</a>
  </li>
  <li>
    <a href="#ui">UI</a>
    <ul>
      <li><strong>Components</strong></li>
      <li><a href="#ui-Badge">Badge</a></li>
      <li><a href="#ui-Bar">Bar</a></li>
      <li><a href="#ui-BarItem">BarItem</a></li>
      <li><a href="#ui-Button">Button</a></li>
      <li><a href="#ui-ButtonGroup">ButtonGroup</a></li>
      <li><a href="#ui-Card">Card</a></li>
      <li><a href="#ui-CardList">CardList</a></li>
      <li><a href="#ui-Checkbox">Checkbox</a></li>
      <li><a href="#ui-Dots">Dots</a></li>
      <li><a href="#ui-Drawer">Drawer</a></li>
      <li><a href="#ui-Form">Form</a></li>
      <li><a href="#ui-Grid">Grid</a></li>
      <li><a href="#ui-Icon">Icon</a></li>
      <li><a href="#ui-Input">Input</a></li>
      <li><a href="#ui-Label">Label</a></li>
      <li><a href="#ui-List">List</a></li>
      <li><a href="#ui-ListItem">ListItem</a></li>
      <li><a href="#ui-Menu">Menu</a></li>
      <li><a href="#ui-Modal">Modal</a></li>
      <li><a href="#ui-Popover">Popover</a></li>
      <li><a href="#ui-PopoverLink">PopoverLink</a></li>
      <li><a href="#ui-Radio">Radio</a></li>
      <li><a href="#ui-SearchBar">SearchBar</a></li>
      <li><a href="#ui-Slider">Slider</a></li>
      <li><a href="#ui-Title">Title</a></li>
      <li><a href="#ui-TitleBar">TitleBar</a></li>
    </ul>

    <ul>
      <li><strong>Views</strong></li>
      <li><a href="#ui-DottedViewList">DottedViewList</a></li>
      <li><a href="#ui-DrawerView">DrawerView</a></li>
      <li><a href="#ui-FrostedGlassView">FrostedGlassView</a></li>
      <li><a href="#ui-LayoutLeftNav">LayoutLeftNav</a></li>
      <li><a href="#ui-NestedViewList">NestedViewList</a></li>
      <li><a href="#ui-View">View</a></li>
    </ul>
  </li>
</ul>